.forum-reply-form {
	width: 100%;

  button {
    float: right;
    width: 120px;
    height: 50px;
    background-color: #d02f2f;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
    border-radius: 5px;
    color: #fff;
    border: none;
  }

}
