@import '~styles/base';

.product {
  margin: 100px 15px 0;
  position: relative;
  width: 350px;
  padding: 50px 0 0 0;
  display: flex;
  .free-image {
    position: absolute;
    margin: 0;
    left: -15px;
    top: 0px;
    width: 130px;
    z-index: 999;
  }
  .product-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .product-white-block {
    padding: 190px 0 0 0;
    background: white;
    box-shadow: 0px 5px 30px 4px rgba(63,66,76,0.1);

    .product-title {
      margin: 0;
      padding: 0 20px;
      color: #4f4f4f;
      text-align: center;
      font-size: 24px;
      font-weight: normal;
      line-height: 19px;
    }
    .product-content {
      font-size: 18px;
      color: #4f4f4f;
      text-align: center;
      padding: 15px;
    }

    .product-line {
      width: 63px;
      height: 3px;
      background: #d5d5d5;
      margin: 25px auto 28px;
    }

    .product-price {
      text-align: center;
      font-size: 22px;
      font-family: $oswald;
      margin-bottom: 55px;
      height: 50px;

      .product-old-price {
        padding: 0 20px;
        display: inline-block;
        color: #d5d5d5;
        text-decoration: line-through;
      }

      .new-price {
        padding: 0 20px;
        display: inline-block;
        color: $mainRed;
      }
    }

    .product-controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      button {
        &:first-child {
          border: none;
          border-top: 1px solid #d9d9d9;
          background: white;
        }

        &:last-child {
          padding-left: 10px;
          padding-right: 10px;
        }

        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
    }
  }

  &:hover {
    .product-white-block {
      transition: background-color .3s ease;
      background: $mainRed;

      .product-title, .product-content {
        transition: color .3s ease;
        color: white;
      }

      .product-line {
        transition: background-color .3s ease;
        background: #b72929;
      }

      .product-price {

        .product-old-price {
          transition: color .3s ease;
          color: #922121;
        }

        .new-price {
          transition: color .3s ease;
          color: white;
        }
      }

      .product-controls {
        button {
          &:last-child {
            transition: background-color .3s ease, color .3s ease;
            background: #404144;
            color: white;
          }
        }
      }
    }
  }
}
