$white: #fff;
$lightGrey: #f0f0f0;
$grey: #e8e8e8;
$darkerGrey: #9899a0;
$darkGrey: #50535c;
$darkestGrey: #292b2f;
$mainRed: #c82323;
$senderChatColor: #f3f5f7;
$receiverChatColor: #ecf5fb;
$black: #000;
$basicPriceColor: #50535c;
$freePriceColor: #898989;
$darkNavyBlue: #3f424c;

$greyForumText: #8a8c94;
$lightGreyForum: #ececec;
